[commit]
gpgSign = true

[gpg]
program = gpg

[init]
defaultBranch = main

[pull]
rebase = false

[tag]
forceSignAnnotated = true

[user]
name = Griko Nibras
email = griko@nibras.co
signingKey = C8D144D7CBD8E183244969E1194CDB6C6785C7B3

[filter "lfs"]
clean = git-lfs clean -- %f
process = git-lfs filter-process
required = true
smudge = git-lfs smudge -- %f
